$button-color: #A3ADAD;
$background-color:#D3DED9;
$nav-color: #DE960E;
$wrapper-background-color: #ffffff;
$background-color2: #00aa00;
$background-color3: #aa00da;
$background-color4: #dddd00;
$background-color5: #88f70a;
$color: #ffffff;
body{
    background: $background-color;
    .wrapper{
        margin: 0 auto;
        background: $wrapper-background-color;
        width:980px;

        header{
            nav{
                
                ul{
                    display: flex;
                    justify-content: space-between;
                    li{
                        background: rgb(29, 55, 173);
                        width: 180px;
                        height: 30px;
                        margin: 3px;
                        display: table-cell;
	                    vertical-align: middle;
                        &:hover{
                            background:rgb(65, 90, 201); 
                        }
                        
                        a{
                            color: $color;
                            text-decoration: none;
                            display: block;
                            
                        }
                    }
                }
            }
        }
        section{
            
            width: 850px;
            margin: 0 auto;
            ul{
                background: #ffffff;
                li{
                    background: $background-color3;
                    margin: 5px;
                    height: 30px;
                    text-align: center;
                }
            }
            
        }
        .category{
            background: $background-color4;
            p{
                height: 25px;
                margin: 5px;
                border: white;
                text-align: center;
            }
        }
        div{
            p{
                margin-left: auto;
                width: 150px;
                height: 30px;
                text-align: center;
                background: $background-color5;
                .return-button{
                    margin-left: right;
                }
                a{
                    display: block;
                }
            }
        }   
        footer{
            
            ul{
                display: flex;
                justify-content: space-between;
                background: $background-color4;
                li{
                    width: 180px;
                    height: 30px;
                }
            }
        }


    }
}